---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    {% if post.category == "Technical" %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        <!-- {{ post.excerpt }} -->
        {{ post.content | strip_html | truncatewords: 100 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="button button-primary">Read More</a>
    </article>
    {% endif %}
  {% endfor %}
</div>